*{
    box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0;
}
.toolbox-cont{
    background-color: #4b4b4b;
    height: 5rem;
    display: flex;
    align-items: center;
}
.toolbox-cont >*{
    margin-left: 4rem;
}

.toolbox-priorty-cont{
    height: 3.5rem;
    width: 18rem;
    background-color: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.action-button-cont{
    height: 3.5rem;
    width: 8rem;
    background-color: #3d3d3d;
    display: flex;
    
}

.action-button-cont >*{
    display: flex;
    width: 50%;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    color: white;
}

.color{
    height: 1.5rem;
    width: 3rem;
}

.lightpink{
    background-color: lightpink;
}

.lightgreen{
    background-color: lightgreen;
}

.lightblue{
    background-color: lightblue;
}

.black{
    background-color: black;
}

.model-cont{
    width: 45vw;
    height: 50vh;
    background-color: lightblue;
    /* position: absolute krne s ye div screen sbahr aajata h or hum ise apne hisab s set kr skte h */
    position: absolute;
    display: none;

    top: 30%;
    left: 25%;
}

.textarea-cont{
    height: 100%;
    width: 75%;
    background-color: #dfe4ea;
    outline: none;/* light the border*/
    border: none;/* remove the border*/
    resize: none; /* remove the expandable option from textarea*/
    font-size: 2rem;
    padding: 2rem;
}

.priority-color-cont{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #4b4b4b;
}

.priority-color{
    height: 3rem;
    width: 5rem;
}

.main-cont{
    display: flex;
    /* gap means element k beech m gap ho  */
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    flex-wrap: wrap;
}

.ticket-cont{
    height: 12rem;
    width: 14rem;
    background-color: rgb(220, 213, 211);
}

.ticket-color{
    height: 1rem;
    
}

.ticket-id{
    height: 2rem;
    background-color: rgb(94, 94, 215);
}

.ticket-lock{
    display: flex;
    font-size: 1.5rem;
    justify-content: flex-end;
    margin-top: 90px;
    margin-right: 5px;
}

      /* ---- hover effect ---- */

.add-button:hover{
    background-color: #4BB543;
    
}

.remove-button:hover{
    background-color: #4BB543;
    
}

.toolbox-priorty-cont >*:hover{
    background-color: lightgray;
}


.active{
    border: 5px solid white;
}


